<body>

    <header>
        <h1> Victoria </h1>
    </header>
    <div>
        <p> Has escapado, bien hecho </p>
    </div>
    <footer>
        <a href="index.html"> Comienzo </a>
    </footer>

<style>
    body
    {
        background-color: beige;
    }
    header h1
    {
        text-align: center;
        font-size: x-large;
    }

    div p
    {
        text-align: center;
        color: salmon;
    }
</style>

</body>
